<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>New article</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script
      src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"
      crossorigin="anonymous"
    ></script>
    <!-- Google fonts-->
    <link
      href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"
      rel="stylesheet"
      type="text/css"
    />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/css/styles.css" rel="stylesheet" />
  </head>
  <body>
    <!-- Navigation-->
    <%- include("partials/navbar") %>
    <!-- Page Header-->
    <header
      class="masthead"
      style="
        background-image: url('https://thumbs.dreamstime.com/b/periodista-en-la-rueda-de-prensa-escribiendo-las-notas-dando-el-micr%C3%B3fono-89432623.jpg');
      "
    >
      <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
          <h1 style="color: white">Create an article</h1>
        </div>
      </div>
    </header>
    <!-- Main Content-->
    <main class="mb-4">
      <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">
            <p>Do you want to be a journalist? Post your article and let the world see your news</p>
            <div class="my-5">
              <!-- * * * * * * * * * * * * * * *-->
              <!-- * * SB Forms Contact Form * *-->
              <!-- * * * * * * * * * * * * * * *-->
              <!-- This form is pre-integrated with SB Forms.-->
              <!-- To make this form functional, sign up at-->
              <!-- https://startbootstrap.com/solution/contact-forms-->
              <!-- to get an API token!-->
              <form
                method="post"
                id="newArticle"
                action="/admin/crear"
              >
                <div class="d-flex" >
                  <div class="form-floating">
                    <input
                      name="firstname"
                      class="form-control"
                      id="username"
                      type="text"
                      placeholder="Enter your name..."
                      data-sb-validations="required"
                    />
                    <label for="username">Firstname</label>
                    <div class="invalid-feedback" data-sb-feedback="name:required">
                      A firstname is required.
                    </div>
                  </div>
                  <div class="form-floating">
                    <input
                      name="lastname"
                      class="form-control"
                      id="lastname"
                      type="text"
                      placeholder="Enter your name..."
                      data-sb-validations="required"
                    />
                    <label for="lastname">Lastname</label>
                    <div class="invalid-feedback" data-sb-feedback="name:required">
                      A lastname is required.
                    </div>
                  </div>
                </div>

                <div class="form-floating">
                  <input
                    name="title"
                    class="form-control"
                    id="title"
                    type="text"
                    placeholder="Enter your name..."
                    data-sb-validations="required"
                  />
                  <label for="title">Title</label>
                  <div class="invalid-feedback" data-sb-feedback="name:required">
                    A title is required.
                  </div>
                </div>

                <div class="form-floating">
                  <textarea
                    name="content"
                    class="form-control"
                    id="content"
                    placeholder="Enter your article content"
                    style="height: 12rem"
                    data-sb-validations="required"
                  ></textarea>
                  <label for="message">Content</label>
                  <div class="invalid-feedback" data-sb-feedback="message:required">
                    Article content is required.
                  </div>
                </div>
                <div class="form-floating">
                  <input
                    name="image"
                    class="form-control"
                    id="image"
                    type="url"
                    placeholder="Enter your image url..."
                    data-sb-validations="required"
                  />
                  <label for="image">Image URL</label>
                  <div class="invalid-feedback" data-sb-feedback="phone:required">
                    An image URL is required.
                  </div>
                </div>
                <br />
                <!-- Submit success message-->
                <!---->
                <!-- This is what your users will see when the form-->
                <!-- has successfully submitted-->
                <div class="d-none" id="submitSuccessMessage">
                  <div class="text-center mb-3">
                    <div class="fw-bolder">Form submission successful!</div>

                    <a href="https://startbootstrap.com/solution/contact-forms"
                      >https://startbootstrap.com/solution/contact-forms</a
                    >
                  </div>
                </div>
                <!-- Submit error message-->
                <!---->
                <!-- This is what your users will see when there is-->
                <!-- an error submitting the form-->
                <div class="d-none" id="submitErrorMessage">
                  <div class="text-center text-danger mb-3">Error sending message!</div>
                </div>
                <!-- Submit Button-->
                <input
                  class="btn btn-primary text-uppercase"
                  id="submitBtn"
                  type="submit"
                  value="Send"
                />
              </form>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- Footer-->
    <%- include('partials/footer') %>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <!-- * *                               SB Forms JS                               * *-->
    <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
  </body>
</html>
