<header class="masthead" style="background-image: url('<%= image %>')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="d-flex flex-column align-items-center justify-content-center">
            <h1 class="text-light" ><%= title %></h1>
            <span class="subheading text-light"><%= subtitle %></span>
        </div>
    </div>
</header>